.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-div {
  display: flex;
  justify-content: center;
}

.div {
  background-color: #cde4e7;
  padding: 20px;
  margin: 20px;
  border: 1px solid black;
  border-radius: 10px;
}

h2 {
  margin-top: 0px;
  text-align: center;
}

.div-group {
  margin: 15px;
}

button {
  margin-top: 15px;
  margin-left: 35%;
  background-color: #707475;
  padding: 7px;
  border: 1px solid rgb(49, 48, 48);
  border-radius: 3px;
  color: white;
  width: 85px;
  font-size: 16px;
  font-weight: 800;
}

label {
  font-size: 18px;
  font-weight: 500;
}

button:hover{
  background-color: red;
}

.antd-table tr:nth-child(1n) {
  background-color: rgb(219, 215, 215);
}
.antd-table tr:nth-child(2n) {
  background-color: rgba(208, 212, 212, 0.777);
}
